* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-size: 2rem;
  align-self: start;
  background-color: aquamarine;
}

.itemsMenu {
  display: flex;
}

.itemsMenu div {
  margin: 1rem;
}

a {
  text-decoration: none;
  color: black;
}